body {
    background-color: #20558B!important;
    margin: 0;
    font-size:12px!important;
}

.mainDiv {
    background-color: #f1f5fb;
    width: 95%;
    margin: auto;
    padding-top: 0;
}

.title {
    font: 15px "segoe ui",arial,sans-serif;
    color: #20558B;
    font-size: xx-large;
    font-weight: bold;
    margin-top: 15px;
}

.subtitle {
    font: 15px "segoe ui",arial,sans-serif;
    color: #20558B;
    font-size: large;
    font-weight: bold;
    margin-top: 15px;
}

.font-md {
    font-size: 16px;
}

.font-24 {
    font-size: 24px;
}

.font-large {
    font-size: 26px;
}

.md-12 {
    font-size:12px!important;
}

.md-18 {
    font-size:18px!important;
}

.width-15 {
    width:15%;
}

.width-20 {
    width:20%;
}

.width-60 {
    width:60%;
}

.width-100 {
    width:100%!important;
}

.margin-top-5 {
    margin-top: 5px;
}
.padding-top-10 {
    padding-top:10px;
}

.margin-top-10{
    margin-top: 10px;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-left-10 {
    margin-left: 10px;
}

.text-align-center {
    text-align: center
}

.text-align-right {
    text-align: right;
}

.text-align-left {
    display: block;
    text-align: left;
}

.vertical-align-middle {
    vertical-align: middle;
}

.vertical-align-center {
    vertical-align: sub;
}
    
.bold {
    font-weight: bold;
}

.no-padding-sides {
    padding-left: 0!important;
    padding-right: 0!important;
}

.no-marginbottom {
    margin-bottom:0!important
}

.no-padding-right {
    padding-right: 0!important;
}

.no-padding-left {
    padding-left: 0!important;
}
.border-right {
    border-right : 1px solid black!important;
}

.border-left {
    border-left : 1px solid black!important;
}

.border-top {
    border-top : 1px solid black!important;
}
.border-bottom {
    border-bottom : 1px solid black!important;
}

.inline-block {
    display: inline-block;
}

.hide {
    display: none;
}

.card-header-ruh {
    color: #20558B;
    border: 1px solid;
    border-color: #20558B;
    background: #f1f5fb;
    margin-bottom: 15px;
    padding: 10px 0px 10px 5px;
    margin-top: 10px;
}

.backg {
    border: 1px solid #7398d957!important;
    height: 20px!important;

    font: 12px "Segoe UI",Arial,sans-serif!important;
    color: #1e395b!important;

    padding: 0px!important;
}



.input-sm {
    height: calc(1.8125rem + 2px)!important;
}

.sorting_1:hover {
    background-color: none!important;
}

.flexdiv {
    display:flex;
    width: 25%;
}

#op-time_header thead tr {
    border-color: #f6f9fb #fff #c2cedb #e1eaf3;
    border-top-width: 0;
    background: #f1f5fb;
}

#table_id_, #permissions_header thead tr {
    border-color: #f6f9fb #fff #c2cedb #e1eaf3;
    border-top-width: 0;
    background: #f1f5fb;
}

.table_header_all, #permissions_header thead tr {
    border-color: #f6f9fb #fff #c2cedb #e1eaf3;
    border-top-width: 0;
    background: #f1f5fb;

}

#table_id_, #permissions_header thead th,
#table_id_, #permissions_header thead td {
    border-bottom: 1px solid #111;
}

#table_id_, #op-time_header ,#permissions_header thead tr th {
    overflow: hidden;
    color: #4c607a;
    text-align: left;
}


.text-normal {
    font-weight: normal;
}

#table_id_, #permissions_header thead tr th:nth-child(4) {
        text-align: center;
}

/*Table body*/
#table_id tbody tr td:nth-child(4),
#table_id tbody tr td:nth-child(3),
#table_id tbody tr td:nth-child(2),
#table_id tbody tr td:nth-child(9),
#table_id tbody tr td:nth-child(7),
#table_id tbody tr td:nth-child(10)
{
    text-align: center;
}

#table_id tbody tr td:nth-child(2),
#table_id tbody tr td:nth-child(3){
    cursor: pointer;
}

#table_id tbody tr td:nth-child(2):hover {
    text-decoration: underline;
}

#table_id tbody tr td:nth-child(5){
    cursor: pointer;
    color: #23527c;
}

#table_id tbody tr td:nth-child(5):hover {
    text-decoration: underline;
}

#table_id tbody tr:hover {
    background-color: #ffffff!important;
}
table#table_id tbody tr.odd {
    background-color: #ffffff!important;
}

table.dataTable.display tbody tr.odd  {
    background-color: #ffffff!important;
}
table#table_id tabody tr.even {
    background-color: none!important;
}

.dataTables_filter {
  display: none;
}

table#permissions_body.dataTable {
    margin-top: 0 !important;
}

/*HEADER!*/
.container_heigth {
    overflow-y: auto;
    height: 100px;
} 


/*Clases para que embone header fixed*/

#table_id {
    margin-top: 0px !important;
}

/*Table generalist*/
.table-sh {
    background: #fcfcfc;
    width: 100%
}
.table-header {
    overflow: hidden;
    margin-right: 17px
}

.table-body {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 574px;
}

.auto-height {
    height: auto;
}

.small-table-body {
    max-height: 350px!important;
}

.headers-sh {
    width: 100%;
    table-layout: fixed;
    overflow: hidden;
    empty-cells: show;
    margin-bottom:0!important
}

.body-sh {
    width: 100%;
    table-layout: fixed;
    overflow: hidden;
    empty-cells: show;
    border-top-width: 0px;
    margin-right: 17px
}

.left {
    left: 3px;
}

.bg-red {
    color: #dc3545;
}

.align-icon {
    left: 75%;
    top: 20px!important;
}

.pointer {
    cursor: pointer;
}

#table_id_length {
    margin-left: 10px;
}

.paginate_button {
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.paginate_button:hover {
    background: none!important;
    border: none!important;   
}

.height-sm {
    height: 25px!important;
}

/*Details*/
.controls {
    font: 18px "segoe ui",arial,sans-serif;
    color: #20558B;
    border: 1px solid;
    border-color: #20558B;
    background: #f1f5fb;
    margin-bottom: 15px;
    padding: 10px 0px 10px 5px;
    margin-top: 10px;
}

.btn-primary.collapsed {
    background-color: #286090!important;
    border-color: #204d74!important;
}

#boyoutsTable thead th {
    border-bottom: none;
}

.genericTable {
    background: #f1f5fb;
}

.genericTable.dataTable.no-footer {
    border-bottom: 1px solid #ddd!important;
}

.dataTables_length {
    margin-left: 10px
}

.card-header {
    padding: 0;
}

/*Dibujos SVG*/
.border-container {
    border: 1px solid #212529;
    border-radius: 16px;
}

.red {
    /*stroke: red!important;*/
    fill: red!important;
}

.bg-red {
    color: red;
}

.green {
    /*stroke: green!important;*/
    fill: green!important;
}

.bg-green{
    color: green;
}

.yellow {
    /*stroke: #f5dd00!important;*/
    fill: #ffc107!important;
}

.bg-yellow{
    color: #ffc107;
}

.blue {
    /*stroke: #20558B!important;*/
    fill: #20558B!important;
}

.bg-blue {
    color: #20558B;
}

.bg-grey {
    color: #5e686b;
}

/*less than or equal to 1700px*/
@media all and (max-width: 1647px) {
    #big_drawing{
        display:none;
    }
}

@media only screen and (min-width: 1648px)  {
    #small_drawing {
        display: none;
    }
}

.remove-container-fluid div{
    padding-right: 0!important;
    padding-left: 0!important;
}

.no-display {
    display:none;
}

.table-ruhr {
    width: 100%!important;
    table-layout: fixed;
    overflow: hidden;
    empty-cells: show;
    border-top-width: 0px!important;
    margin-right: 17px!important;
}

.bullet {
    font-size: Large;
    font-weight: bold;
    line-height: 1!important;
}

.bullet-red {
    color: red;
    cursor: pointer;
}


.table-sm tbody td, .table-sm thead th {
    padding-top: 4px!important;
    padding-bottom: 3px!important;
}

.bullet-yellow {
}

.modal-dialog.modal-1200 {
    max-width: 1200px!important;
    width: 1200px!important;
}

.like-button {
    padding: 6px 12px;
    line-height: 1.42857143;
    font-size: 14px;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-left-15 {
    margin-left: 15px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.padding-top-5 {
    padding-top: 5px;
}

.padding-right-10 {
    padding-right:10px
}

.camouflage {
    color: #f1f5fb;
}

.underline:hover {
    text-decoration:underline;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.glyphicon-arrow-up {
    cursor: pointer;
}

.btn-info {
    background-color: #20558B!important;
    border-color: #20558B!important;
}

.btn-info:focus {
    box-shadow:  0 0 0 0.2rem #20558B!important;
}

#view {
    cursor: pointer;
    color: #23527c;
}

#view:hover {
    text-decoration: underline;
}

/*Detail tabs*/
.nav-tabs {
    border-bottom: 1px solid black!important;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background-color: #f1f5fb!important;
    border: 1px solid black!important;

}

