

<div class="container-fluid">
    <div class="col-sm-12" >
        <div class="header" id="card-header">   
            <span class="title">@ViewBag.titulo</span>
        </div>
    </div>

    <div class="card card-header-ruh" >
      <div class="card-body">
          <div class="row">
              @*<div class="col-sm-12">
                  <div class="col-sm-9">
                      <div class="flexdiv">
                          <div style="width:15%">
                              <span><b>Job: </b></span>

                          </div>
                          <div class="width-60">
                              <select class="form-control backg" id="locations"   >
                                  <option value="ALL" selected="true" >ALL </option>
                              </select>
                          </div>

                          <div style="width:60%;margin-left:10px">
                              <input type="text" id="myInputTextField" class="input-sm form-control" placeholder="Search"/>
                          </div>
                      </div>
                  </div>  
                  <div class="col-sm-3 font-large">
                     FCST OTD: <span id="forecast_percent" class=""></span>
                  </div>
              </div>*@
              <div class="col-sm-12">
                  <div class="col-sm-9">
                      <div class="row">
                          <div style="width: 16.66666667%">
                              <div class="form-inline">
                                <label for="exampleFormControlSelect1">Job:  </label>
                                  <div style="width: 81%;margin-left: 3px">
                                      <select class="form-control" id="locations" style="width:100%">
                                          <option value="ALL" selected="true" >ALL </option>
                                    </select>
                                  </div>
                                
                              </div>
                          </div>
                          <div style="width: 16.66666667%">
                              <input type="text" id="myInputTextField" class="form-control" placeholder="Search"/>
                          </div>
                      </div>
                      @*<div class="flexdiv">
                          <div style="width:15%" >
                              <span><b>Job: </b></span>

                          </div>
                          <div style="width:60%">
                              <select class="form-control backg" id="locations"   >
                                  <option value="ALL" selected="true" >ALL </option>
                              </select>
                          </div>

                          <div style="width:60%;margin-left:10px" >
                              <input type="text" id="myInputTextField" class="input-sm form-control" placeholder="Search"/>
                          </div>
                      </div>*@
                  </div>  
                  <div class="col-sm-3 font-large">
                     FCST OTD: <span id="forecast_percent" class=""></span>
                  </div>
              </div>
          </div>
      </div>
    </div>

    <div class="d-flex justify-content-center" id="loading">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <div id="content-table" class="content table-bordered table-sh">
        <div class="table-header">
            <table id="table_id_" class="table display headers-sh">
                <colgroup>
		            <col style="width:8%">
		            <col style="width:3%">
		            <col style="width:4%">
		            <col style="width:4%">
		            <col style="width:3%">
		            <col style="width:6%">
		            <col style="width:12%">
		            <col style="width:7%">
		            <col style="width:6%">
		            <col style="width:6%">
		            <col style="width:6%">
		            <col style="width:5%">
		            <col style="width:8%">
		            <col style="width:9%">
		            <col style="width:3%">
		            <col style="width:4%">
		            <col style="width:5%">
	            </colgroup>
                <thead>
                    <tr>
                        <th id="orderbyorder">
                            <i id="orderbyordericon" class="glyphicon glyphicon-minus align-icon pointer"></i>Assembly Production Order Number
                        </th>
                        <th></th>
                        <th>Details</th>
                        <th>Amount of pieces</th>
                        <th></th>  
                        <th>Project Number </th>
                        <th>Customer Name</th>
                        <th>Amount</th>
                        <th>Init Date</th>
                        <th>Planned Receipt Date</th>
                        <th  id="orderbydate" class="down">
                            End Date<i id="orderbyicon" class="glyphicon glyphicon-chevron-up pointer" style="left: 3px;" aria-hidden="true"></i>
                        </th>
                        <th>SO item</th>
                        <th>Item description</th>
                        <th>PLS Name</th>
                        <th>Prod. Line</th>
                        <th>Pump Type</th>
                        <th>Op.  Number</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="table-body">
            <table id="table_id" class="table table-bordered display" style="width: 100%;table-layout: fixed;overflow: hidden;empty-cells: show;border-top-width: 0px;margin-right: 17px">
                <thead>
                    <tr>
                        <th>Assembly Production Order Number</th>
                        <th></th>
                        <th>Details</th>
                        <th>Amount of pieces</th>
                        <th></th>  
                        <th>Project Number </th>
                        <th>Customer Name</th>
                        <th>Amount</th>
                        <th>Init Date</th>
                        <th>Planned Receipt Date</th>
                        <th>End Date</th>
                        <th>SO item</th>
                        <th>Item description</th>
                        <th>PLS Name</th>
                        <th>Prod. Line</th>
                        <th>Pump Type</th>
                        <th>Op.  Number</th>
                    </tr>
                </thead>
                <colgroup>
		            <col style="width:8%">
		            <col style="width:3%">
		            <col style="width:4%">
		            <col style="width:4%">
		            <col style="width:3%">
		            <col style="width:6%">
		            <col style="width:12%">
		            <col style="width:7%">
		            <col style="width:6%">
		            <col style="width:6%">
		            <col style="width:6%">
		            <col style="width:5%">
		            <col style="width:8%">
		            <col style="width:9%">
		            <col style="width:3%">
		            <col style="width:4%">
		            <col style="width:5%">
	            </colgroup>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel"></h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modal-body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="close" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="save">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-sm" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title text-align-left">Notice</h4>
            <button type="button" class="close hide" id="closeConfirm" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body text-align-center" >
            <h5>Commitment correctly <span id="comitment_saved"></span></h5>
        </div>
          
    </div>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var assembly_order;
        var table_active = 0; // para el %
        var total_items = 0;
        $('#table_id').hide();
        $("#content-table").hide();
        $.ajax({
            url: "/Report/getLocations",
            type: "GET",
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                $.each(response, function (key, value) {
                    $('#locations').append($("<option></option>")
                        .attr('value', value.BaanCompany)
                        .text((value.Location)));
                });
            }
        });
        getSalesOrders();
        function getSalesOrders(job) {
            $('.spinner-border').show();
            $("#content-table").hide();
            table_active = 0;
            if (job == undefined)
                job = "ALL";
            $.ajax({
                url: "/Report/getSalesOrders?job=" + job,
                type: "GET",
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    total_items = data.length;
                    $.each(data, function (index, item) {
                        item['View'] = "View";
                        item['Details'] = '';
                        item['Commitment'] = '';
                        item['start_date'] = {
                            "display": item.MinStartDateStr,
                            "timestamp": moment(item.MinStartDateStr).format("YYYY/MM/DD")
                        };
                        item['end_date'] = {
                            "display": item.MaxDelivDateStr,
                            "timestamp": moment(item.MaxDelivDateStr).format("YYYY/MM/DD")
                        };
                    });

                    table = $('#table_id').DataTable({
                        data: data,
                        columns: [
                            { data: 'ProdOrderNr' },
                            { data: 'Commitment', render: editIcon },
                            { data: 'Details'},
                            { data: 'SO_QtyOpen' },
                            { data: 'View' },
                            { data: 'SO_Project' },
                            { data: 'SO_CustomerName' },
                            { data: 'SO_Ln_OpenAmount_Str' },
                            {
                                data: {
                                    _: "start_date.display",
                                    sort: "start_date.timestamp"
                                }
                            },
                            { data: 'SO_Ln_PlnRecDateStr' },
                            { 
                                data: 
                                {
                                    _: "end_date.display",
                                    sort: "end_date.timestamp"
                                }
                            },
                            { data: 'SO_Item' },
                            { data: 'Item_Description' },
                            { data: 'SO_PLS_Name' },
                            { data: 'Item_PumpLine' },
                            { data: 'Item_PumpType' },
                            { data: 'Oper_ComplTotal' }
                        ],
                        columnDefs: [
                            { orderable: false, targets: [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16 ] } //This part is ok now
                        ],
                        createdRow: function (row, data, dataIndex) {
                            if (data.ReadyToShip) {
                                //console.log("Tiene ready compromiso ", data)
                            }

                            if (data.beforeToday) {
                                $(row).addClass('table-active');
                                table_active += 1;                                
                            }

                            if (hasNotStarted(data.Oper_ComplTotal)) {
                                $(row).find('td').eq(16).addClass('bg-danger');
                            }

                            if (data.isBetweenMaxDateAndPRD) {
                                console.log("isBetweenMaxDateAndPRD", data);
                                $(row).find('td').eq(10).addClass('bg-warning');
                            }

                            if (data.isBiggerThanPRD) {
                                $(row).find('td').eq(10).addClass('bg-danger');
                            }
                        },                        
                        order: [[10, "asc"]],
                        paging: false,
                        orderClasses: false, //false = remove class shorting 1
                        ordering: true,
                        searching: true,
                        fixedHeader: {
                            header: true,
                            footer: true
                        },
                        //pageLength: 200
                        //bLengthChange: false,
                        //Filter: false,
                        //Info: false
                        //paging: true
                    });
                    $("#table_id").show();
                    $("#table_id_wrapper").removeClass("container-fluid");
                    $("#table_id thead").hide();
                    $('.spinner-border').hide();
                    $("#content-table").show();
                    getPercent();

                },
                error: function (error) {
                }
            });
        }

        var editIcon = function (data, type, row) {
            //console.log("Icon data: ", data, "type: ", type, "row: ", row);
            if (type === 'display') {
                if (row.ReadyToShip && !row.HasChangedPRD) {
                    return data + '<span title="Commitment" class="glyphicon glyphicon-ok icon-md" aria-hidden="true"></span>';
                } else {
                    return data + '<img title="Commitment" style="width:80%" contentType="image/x-icon" src="/Content/images/question.png " aria-hidden="true"></span>';
                }
            }
            return data;
        };

        $("#table_id tbody").on("click", "td", function () {
            if ($(this).index() === 1) {
                openModal($(this)[0].textContent);
                var ajj;
                $.map(table.rows(this).data(), function (item) {
                    assembly_order = item.ProdOrderNr;
                    var desc = item.Item_Description.replace(/\s/g, '%20');
                    var url = '/Commitment/Index?item.ProdOrderNr=' + item.ProdOrderNr + '&item.SO_Item=' + item.SO_Item + '&item.Item_Description=' + desc + '&item.SO_Project=' + item.SO_Project + '&item.MaxDelivDateStr=' + item.MaxDelivDateStr;
                    $('#modal-body').load(url);
                });
            } else if ($(this).index() === 4) {
                $.map(table.rows(this).data(), function (item) {
                    var W = screen.width - 220;
                    var H = screen.height - 300;
                    var xpos = 100;
                    var ypos = 100;
                    window.open("http://172.20.4.63/RP_TimingPlan/projDetails.aspx?projplan=" + item.projplan + "&planName=" + item.PlanName + "%20%20%20%20%20%20%20%20%20%20%20%20%20%20&company=" + item.BaanCompany, "popup", "toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, " + "width=" + W + ", height=" + H + ", left=" + xpos + ", top=" + ypos);
                });
            }
        });

        function openModal(OrderNumber) {
            $('#exampleModalLabel').text('Capture of commitment');
            $("#exampleModal").modal({
                //backdrop: "static"
            });
        }

        function beforeToday(initDay) {
            var d = new Date();
            var date1 = new Date((d.getMonth() + 1) + '/' + d.getDate() + '/' + d.getFullYear());
            var date2 = new Date(initDay);

            var timeDiff = date2.getTime() - date1.getTime();
            var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24));

            if (diffDays < 0) {
                return true;
            } else {
                return false;
            }
        }

        function hasNotStarted(operationCompleteTotal) {
            if (operationCompleteTotal.charAt(0) == "0") {
                return true;
            } else {
                return false;
            }
        }

        $("#save").on('click', function (event) {
            event.stopImmediatePropagation();
            var assemblyObj = {
                assembly_number: assembly_order,
                final_buffer: $("#final_buffer").val(),
                assembly_days: $("#assembly_days").val(),
                machining_days: $("#machining_days").val(),
                bom_date: $('#bomdate').data('date'),
                casting_date: $('#castingdate').data('date'),
                readytoship: $('#readytoship')[0].innerHTML
            };

            $.ajax({
                type: 'POST',
                url: '/Commitment/SaveCommitment',
                data: assemblyObj,
                success: function (data) {
                    //$('#exampleModal').modal().hide();
                    
                    if (data) {
                        $("#comitment_saved").text('saved');
                    } else {
                        $("#comitment_saved").text('updated');
                    }

                    $("#exampleModal #close").click();

                    $("#confirmModal").modal();

                    setTimeout(function () {
                        $("#confirmModal #closeConfirm").click();
                    }, 2000);
                },
                dataType: 'json',

            });
        });

        function openConfirmModal() {
            $("#confirmModal").modal({
                
            });
        }

        $('#myInputTextField').keyup(function () {
            table.search($(this).val()).draw();
        })

        $("#locations").on('change', function (ev) {
            $("#table_id").hide();
            table.destroy();
            getSalesOrders($(this).val());
        });

        function getPercent() {
            $('#forecast_percent').text(((table_active * 100) / total_items).toFixed(2) + " %");
        }

        window.onscroll = function () {
            scrollFunction();
        }

        var header = document.getElementById("card-header");

        var sticky = header.offsetTop;

        function scrollFunction() {
            if (window.pageYOffset > sticky) {
                header.classList.add("sticky");
            } else {
                header.classList.remove("sticky");

            }
        }

        var heigth = $( window ).height();
        $(".content").attr('heigth', heigth)

        $('#orderbydate').on('click', function () {
            $("#orderbyordericon").addClass('glyphicon-minus').removeClass('glyphicon-chevron-down').removeClass('glyphicon-chevron-up');
            if ($(this).hasClass("up")) {

                console.log("up", $(this).hasClass("up"));
                table.order([10, 'asc']).draw();
                $("#orderbyicon").addClass('glyphicon-chevron-up').removeClass('glyphicon-chevron-down');
                $(this).addClass("down").removeClass("up");
                return false;

            } else {

                console.log("down", $(this).hasClass("up"));
                table.order([10, 'desc']).draw();
                $("#orderbyicon").addClass('glyphicon-chevron-down').removeClass('glyphicon-chevron-up');
                $(this).addClass("up").removeClass("down");
                return false;

            }
        })

        $("#orderbyorder").on('click', function () {
            $("#orderbyicon").addClass('glyphicon-minus').removeClass('glyphicon-chevron-down').removeClass('glyphicon-chevron-up');
            if ($(this).hasClass("up")) {
                table.order([0, 'asc']).draw();
                $("#orderbyordericon").addClass('glyphicon-chevron-up').removeClass('glyphicon-chevron-down');
                $(this).addClass("down").removeClass("up"); return;
            } else {
                table.order([0, 'desc']).draw();
                $("#orderbyordericon").addClass('glyphicon-chevron-down').removeClass('glyphicon-chevron-up');
                $(this).addClass("up").removeClass("down"); return;
            }
        })
    });
</script>