body {
    background-color: #20558B!important;
    margin: 0;
    font-size:12px!important;
}

.mainDiv {
    background-color: #FFF;
    width: 95%;
    margin: auto;
    padding-top: 0;
}

.title {
    font: 15px "segoe ui",arial,sans-serif;
    color: #20558B;
    font-size: xx-large;
    font-weight: bold;
    margin-top: 15px;
}

.font-large {
    font-size: 26px;
}

.width-15 {
    width:15%
}

.width-60 {
    width:60%
}

.margin-top-5 {
    margin-top: 5px;
}

.margin-top-10{
    margin-top: 10px;
}

.margin-left-10 {
    margin-left: 10px;
}

.text-align-center {
    text-align: center
}

.text-align-right {
    text-align: right;
}

.text-align-left {
    display: block;
    text-align: left;
}

.bold {
    font-weight: bold;
}

.no-padding-sides {
    padding-left: 0!important;
    padding-right: 0!important;
}

.no-marginbottom {
    margin-bottom:0!important
}

.hide {
    display: none;
}

.card-header-ruh {
    color: #20558B;
    border: 1px solid;
    border-color: #20558B;
    background: #f1f5fb;
    margin-bottom: 15px;
    padding: 10px 0px 10px 5px;
    margin-top: 10px;
}

.backg {
    border: 1px solid #7398d957!important;
    height: 20px!important;

    font: 12px "Segoe UI",Arial,sans-serif!important;
    color: #1e395b!important;

    padding: 0px!important;
}



.input-sm {
    height: calc(1.8125rem + 2px)!important;
}

.sorting_1:hover {
    background-color: none!important;
}

.flexdiv {
    display:flex;
    width: 25%;
}


#table_id_ thead tr {
    border-color: #f6f9fb #fff #c2cedb #e1eaf3;
    border-top-width: 0;
    background: #f1f5fb;

}
#table_id_ thead th,
#table_id_ thead td {
    border-bottom: 1px solid #111;
}

#table_id_ thead tr th {
    overflow: hidden;
    color: #4c607a;
    font-weight: normal;
    font-size: 13px;
    text-align: left;
    padding: 5px 7px 4px 7px!important;
}

/*Table body*/
#table_id tbody tr td:nth-child(2) {
    cursor: pointer;
}

#table_id tbody tr td:nth-child(2):hover {
    text-decoration: underline;
}

#table_id tbody tr td:nth-child(5){
    cursor: pointer;
    color: #23527c;
}

#table_id tbody tr td:nth-child(5):hover {
    text-decoration: underline;
}

#table_id tbody tr:hover {
    background-color: #ffffff!important;
}
table#table_id tbody tr.odd {
    background-color: #ffffff!important;
}

table.dataTable.display tbody tr.odd  {
    background-color: #ffffff!important;
}
table#table_id tabody tr.even {
    background-color: none!important;
}

.dataTables_filter,
.dataTables_info {
  display: none;
}

/*HEADER!*/
.container_heigth {
    overflow-y: auto;
    height: 100px;
} 


/*Clases para que embone header fixed*/

/*#table_id tbody tr td {
    width: 10px;
}*/

#table_id {
    margin-top: 0px !important;
}

/*Table generalist*/
.table-sh {
    background: #fcfcfc;
    width: 100%
}
.table-header {
    overflow: hidden;
    margin-right: 17px
}

.table-body {
    overflow: auto;
    width: 100%;
    height: 574px;
}

.headers-sh {
    width: 100%;
    table-layout: fixed;
    overflow: hidden;
    empty-cells: show;
    margin-bottom:0!important
}

.body-sh {
    width: 100%;
    table-layout: fixed;
    overflow: hidden;
    empty-cells: show;
    border-top-width: 0px;
    margin-right: 17px
}

.left {
    left: 3px;
}

.icon-md {
    font-size: 20px;
}

.bg-red {
    color: #dc3545;
}

.align-icon {
    left: 75%;
    top: 20px!important;
}

.pointer {
    cursor: pointer;
}

:-ms-input-placeholder.form-control { /* IE 10+ */
    top: 0;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: pink;
}
::-moz-placeholder { /* Firefox 19+ */
  color: pink;
}

:-moz-placeholder { /* Firefox 18- */
  color: pink;
}